<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>RAIL</title>
    <!-- <link rel="shortcut icon" type="image/vnd.microsfot.icon" href="{{site.url}}/favicon.ico"> -->
    <!-- <link rel="icon" href="{{site.url}}/favicon.png" type="image/png"> -->
    <link rel="stylesheet" href="http://uwabami.github.com/rail/css/rail.css" type="text/css">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
  <a href="https://github.com/uwabami/rail">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
    </a>
    <div id="container">
      <div id="main">
      <h1 class="title">
        <span class="description">{{ page.title}}</span>
      </h1>
      {{ content }}
      </div>
    </div>
  </body>
</html>
